{
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "strict" : 0,
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-unused-vars": [1, {"vars" : "all", "args" : "after-used"}],
    comma-dangle: ["error", "always-multiline"]
  }
}
